<% provide(:title, "ブラックリスト入りユーザーへ") %>

<div class="bracklist-user">
  <h1>( ﾟДﾟ)</h1>
</div>

<p><%= current_user.email %>&emsp;様</p>
</br>
<p>(ﾟ∀ﾟ)ﾉｼ</p>

<p><%= link_to "ログアウト", logout_path, method: :delete %></p>