<% provide(:title, 'トピック一覧') %>

<h2>トピック一覧</h2>
 <p><%= link_to "新規作成", "/topics/new" %></p>
<ul class="topics">
  <% @topics.each do |topic| %>
    <% if topic.flag != false %>
      <li>
      <p><%= link_to topic.title, topic %></p>
      </li>
    <% end %>
  <% end %>
</ul>