<% provide(:title, 'スレッド一覧') %>

<div class="topics">
  <h1>スレッド一覧</h1>

  <% @topics.each do |topic| %>
    <% if topic.flag != false %>
      <p><%= link_to topic.title, topic %></p>
    <% end %>
  <% end %>
</div>