<% provide(:title, @user_email) %>

<div class="user_detail">
  <h1>ユーザーID:<%= @user.id %>&emsp;<%= @user.email %></h1>
</div>

<div class="user_create_topic">
  <% if @topic.count != 0 %>
    <h2>作成したスレッド一覧</h2>
    <% @topic.each do |topic| %>
      <p><%= link_to topic.title, topic %></p>
    <% end %>
  <% end %>
</div>
