<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "匿名掲示板サイト", '#', id: "logo" %>
  </div>
  
  <nav>
    <% if logged_in? %>
      <ul>
        <% if current_user == @user || current_user.admin? %>
          <li><%= link_to "ブラックリスト登録", new_blacklist_path %></li>
        <% end %>
        <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
      </ul>
    <% end %>
  </nav>
</header>