<header class="navbar navbar-fixed-top navbar-inverse" style="background-color:#008db7;">
  <div class="container">
    <%= link_to "匿名掲示板サイト", '/topics', id: "logo" %>
    <nav>
      <% if logged_in? %>
        <% user = User.find_by(id: current_user.id) %>
        <% if user.flag != false %>    
          <ul class="nav navbar-nav navbar-right">
            <% if current_user == @user || current_user.admin? %>
              <li>
                <%= link_to "ブラックリスト登録", new_blacklist_path %>
              </li>
            <% end %>
            <li>
              <%= link_to "スレッド新規作成", new_topic_path %>
            </li>
            <li>
              <%= link_to "ログアウト", logout_path, method: :delete %>
            </li>
          </ul>
        <% end %>
      <% end %>
    </nav>
  </div>
</header>